<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="container" style="padding-top: 50px;">
    <div class="canvas-app">
        <div class="jumbotron" id="userAgentFlow">
            <p>
                <h2> Canvas App running on Nodejs -  <%= canvasMode %> </h2>

                <div class="smallFont"> 

                    <p>Hello, <%= context.user.firstName %>. This is a web app written in Node.js embedded in your
                        Salesforce page (It could also be written in any other language).</p>
                    <p>It is aware of its environment. For example, here are a few things it knows:</p>
                    <table>
                        <tr>
                            <td>User:</td>
                            <td><%= context.user.fullName %></td>
                        </tr>
                        <tr>
                            <td>Object:</td>
                            <td><%= context.environment.record.attributes.type %></td>
                        </tr>
                        <tr>
                            <td>Id:</td>
                            <td><%= context.environment.record.Id %></td>
                        </tr>
                    </table>
                    <p>It can also access more data in Salesforce using the REST APIs. With context and APIs, Canvas
                        makes it easy to integrate applications written in any language inside your Salesforce pages.
                    </p>
                    <p>For example, the QR Code below is generated in Node.js. Scan it to create a contact on your
                        mobile phone:</p>
                    <%- imgTag %>
                </div>

            </p>
        </div>
    </div>
</body>